section#header-menu {
  width: 0;
  position: fixed;
  height: 100%;
  top: 0;
  right: 0;
  -webkit-transition: none;
  transition: none;
}

@media (min-width: 75em) {
  section#header-menu.black {
    background-color: #000;
    -webkit-transition: none;
    transition: none;
    -webkit-transition: background-color 2s;
    transition: background-color 2s;
  }
}

section#header-menu.show {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.96);
  width: 275px;
  overflow: hidden;
  padding: 6em 2em;
  -webkit-transition: all .3s;
  transition: all .3s;
  z-index: 9910;
}

section#header-menu.show .social-booknow button {
  margin: 1em 0;
}

@media (min-width: 75em) {
  section#header-menu {
    padding: 1em;
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 10;
    right: 0;
  }
}

@media (min-width: 120em) {
  section#header-menu {
    padding: .8vw;
  }
}

section#header-menu #unleash-logo {
  display: none;
}

@media (min-width: 75em) {
  section#header-menu #unleash-logo {
    display: block;
  }
}

section#header-menu #unleash-logo img {
  width: 250px;
}

@media (min-width: 120em) {
  section#header-menu #unleash-logo img {
    width: 13vw;
  }
}

#desktop-menu {
  height: 100%;
}

@media (min-width: 75em) {
  #desktop-menu {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 75em) {
  #desktop-menu .social-booknow {
    margin-right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

#desktop-menu .social-booknow .icos-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 75em) {
  #desktop-menu .social-booknow .icos-wrp {
    width: auto;
  }
}

@media (min-width: 120em) {
  #desktop-menu .social-booknow .icos-wrp img {
    height: 0.73vw;
  }
}

#desktop-menu .social-booknow .icos-wrp > div {
  margin: auto .5em;
}

@media (min-width: 120em) {
  #desktop-menu .social-booknow .icos-wrp > div {
    margin: auto .41vw;
  }
}

#desktop-menu .social-booknow .icos-wrp > div img:hover {
  cursor: pointer;
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

#desktop-menu .social-booknow button {
  width: 205px;
}

@media (min-width: 120em) {
  #desktop-menu .social-booknow button {
    width: 10.7vw;
  }
}

.menu-ul {
  min-height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 75em) {
  .menu-ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: relative;
    left: 0;
    width: 60%;
    margin-left: 1em;
    min-height: 0;
  }
}

@media (min-width: 120em) {
  .menu-ul {
    margin-left: .85vw;
  }
}

.menu-ul li {
  display: block;
  margin: .5em 0;
  margin-right: auto;
}

@media (min-width: 75em) {
  .menu-ul li {
    display: inline-block;
    margin: auto .5em;
    margin-top: 0;
  }
}

@media (min-width: 120em) {
  .menu-ul li {
    margin: auto .42vw;
    margin-top: 0;
  }
}

.menu-ul li a {
  text-transform: uppercase;
  font-size: .9em;
  color: #ededed;
  -webkit-transition: font-weight .2s ease-in-out;
  transition: font-weight .2s ease-in-out;
}

.menu-ul li a:hover {
  font-weight: 900;
  color: #fff;
}

@media (min-width: 120em) {
  .menu-ul li a {
    font-size: .75vw;
  }
}

#more {
  cursor: pointer;
}

@media (min-width: 75em) {
  #more {
    overflow: hidden;
  }
  #more:hover {
    overflow: visible;
  }
}

@media (min-width: 75em) {
  #more > a {
    font-weight: 900;
    color: #fff;
  }
}

#more:hover #dropdownbox {
  visibility: visible;
  opacity: 1;
  position: static;
  margin-left: 2em;
  -webkit-transition: all 1s;
  transition: all 1s;
}

@media (min-width: 75em) {
  #more:hover #dropdownbox {
    position: absolute;
    margin-left: 0;
  }
}

#dropdownbox {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 0;
  margin-top: .5em;
  -webkit-transition: none;
  transition: none;
}

@media (min-width: 75em) {
  #dropdownbox .first-ul li a {
    color: #ededed;
  }
  #dropdownbox .first-ul li a:hover {
    color: #fff;
  }
}

#dropdownbox .first-ul .amsterdam a {
  color: rgba(0, 186, 255, 0.85);
}

@media (min-width: 75em) {
  #dropdownbox .first-ul .amsterdam a {
    color: #ededed;
  }
}

#dropdownbox .first-ul .amsterdam > a {
  font-weight: 900;
  color: #00baff;
}

#dropdownbox .first-ul .amsterdam > a:hover {
  color: #00baff;
}

#dropdownbox .first-ul .london a {
  color: rgba(130, 196, 63, 0.85);
}

@media (min-width: 75em) {
  #dropdownbox .first-ul .london a {
    color: #ededed;
  }
}

#dropdownbox .first-ul .london > a {
  font-weight: 900;
  color: #82c43f;
}

#dropdownbox .first-ul .london > a:hover {
  color: #82c43f;
}

#dropdownbox .first-ul .america a {
  color: rgba(232, 15, 66, 0.85);
}

@media (min-width: 75em) {
  #dropdownbox .first-ul .america a {
    color: #ededed;
  }
}

#dropdownbox .first-ul .america > a {
  font-weight: 900;
  color: #e80f42;
}

#dropdownbox .first-ul .america > a:hover {
  color: #e80f42;
}

#dropdownbox .second-ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 100%;
  -webkit-transition: none;
  transition: none;
}

#dropdownbox .second-ul.visib {
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
  position: static;
  margin-left: 2em;
}

@media (min-width: 75em) {
  #dropdownbox .second-ul.visib {
    position: absolute;
    margin-left: 0;
  }
}

@media (min-width: 75em) {
  #dropdownbox {
    visibility: visible;
    opacity: 1;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  #dropdownbox ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 120em) {
  #dropdownbox {
    margin-top: .4vw;
  }
}

.btn, .pink-btn {
  padding: .8em;
  margin: .5em;
  width: 100%;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid transparent;
}

@media (min-width: 30em) {
  .btn, .pink-btn {
    margin: 0 1em;
    width: 205px;
  }
}

@media (min-width: 120em) {
  .btn, .pink-btn {
    width: 11vw;
    font-size: .8vw;
  }
}

.btn:hover, .pink-btn:hover {
  -webkit-transition: all .3s;
  transition: all .3s;
  cursor: pointer;
}

.pink-btn {
  background-color: #f2385a;
  color: #fff;
  padding: .6em;
}

@media (min-width: 120em) {
  .pink-btn {
    width: 9vw;
  }
}

.pink-btn:hover {
  color: #f2385a;
  background-color: #fff;
}

footer {
  background-color: #000;
}

footer p {
  color: #fff;
  font-size: .9em;
  line-height: 1.5em;
}

@media (min-width: 120em) {
  footer p {
    font-size: .8vw;
  }
}

footer .footer-logo {
  width: 90%;
}

@media (min-width: 23em) {
  footer .footer-logo {
    width: auto;
  }
}

@media (min-width: 120em) {
  footer .footer-logo img {
    width: 8.9vw;
  }
}

footer .wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 48em) {
  footer .wrp {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

footer .wrp .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2em;
}

@media (min-width: 48em) {
  footer .wrp .left {
    width: auto;
    display: block;
  }
}

footer .wrp .left .footer-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .wrp .left .footer-btns button {
  margin: 0;
}

footer .wrp .left .footer-btns button.black-btn {
  margin-top: auto;
}

@media (min-width: 48em) {
  footer .wrp .left .footer-btns button.black-btn {
    margin-top: 1em;
  }
}

@media (min-width: 48em) {
  footer .wrp .left .footer-btns button {
    width: 95%;
    margin-top: 1em;
  }
}

footer .footer-menu {
  margin-bottom: 1.5em;
}

footer .footer-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .footer-menu ul li {
  margin: .3em 0;
  margin-right: 2vw;
}

@media (min-width: 48em) {
  footer .footer-menu ul li {
    margin-top: 0;
    margin-bottom: 0;
  }
}

footer .footer-menu ul li a {
  color: #ededed;
}

footer .footer-menu ul li a:hover {
  color: #4ad9d9;
  -webkit-transition: color .5s;
  transition: color .5s;
}

@media (min-width: 120em) {
  footer .footer-menu ul li a {
    font-size: .83vw;
  }
}

footer .footer-menu .upper {
  margin-top: 1.5em;
}

footer .footer-menu .upper li {
  text-transform: uppercase;
  font-size: .9em;
}

@media (min-width: 58em) {
  footer .footer-menu .upper li {
    font-size: 1em;
  }
}

footer .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1em;
}

footer .social-icons > div {
  margin-right: .65em;
}

@media (min-width: 120em) {
  footer .social-icons > div {
    margin-right: .55vw;
  }
}

footer .social-icons > div img {
  width: 35px;
}

footer .social-icons > div img:hover {
  cursor: pointer;
}

@media (min-width: 120em) {
  footer .social-icons > div img {
    width: 1.83vw;
  }
}
