.fx{
	overflow:hidden;
}

.App{
	display:flex;
	flex-direction:column;
	min-height:100vh;
}

.Layout-width{
	width:90%;
	max-width:960px;
	margin:0 auto;
}

%btn{
	min-width:110px;
	background:none;
	border:1px solid transparent;
	padding:.5em;
	position:relative;
	text-transform:uppercase;
	font-weight:bold;
}

.btn-w{
	@extend %btn;
	border-color:$white;
	color:$white;
}

.btn-b{
	@extend %btn;
	background:$black;
	color:$white;
}

.btn-bw{
	@extend %btn;
	border-color:$black;
	font-family:Anton;
	letter-spacing:2px;
	&:before,&:after{
		content: '';
	    width: 25px;
	    height: 5px;
	    position: absolute;
	    background: $white;
	}
	&:before{
	    left: 10px;
	    bottom: -1px;
	}
	&:after{
	    right: 10px;
	    top: -1px;
	}

	&.passive{
		border:none;
		color:$grey3;
	}
}