@import 'lasvegas/components/reset';
@import 'common';
@import 'menu';
@import 'inner-menu';
@import 'footer';
@import 'popup';



@charset "utf-8";
/* CSS Document of the 404 page */

body {
    font-family: 'museo-sans', sans-serif;	
    margin: 0;
    background-image: url(../../gfx/404/desktop-bg.jpg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    color: #000;
    background-color: #FFFBF7;
}
h1, h2, h3, p {
    margin: 0;
    color: #1c2126;	
}
a {
    color: #fff;
    text-decoration: none;	
}
.FontProximaNova {
    font-family: 'museo-sans', sans-serif;	
}

#Content{
    position: relative;
    top: 31vw;
    margin-left: 50vw;
    height: 20vw;
    overflow: visible;
}
#Logo404 {
    width: 8.697916vw;	
}
#Headline404 {
    font-family: 'museo-sans', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 1.66vw;
    margin-top: 0.625vw;
    letter-spacing: -0.10416vw;
}
#Info404 {
    font-size: 0.72916vw;
    margin-top: 0.364583vw;
    font-weight: 300;
}
#Countdown {
    color: #e80f42;	
}
#MobileBG {
    display: none;
}	
@media (max-width: 1920px) {
    #Logo404 {
        width: 167px;	
    }
    #Headline404 {
        font-size: 32px;
        margin-top: 12px;
    }
    #Info404 {
        font-size: 14px;
        margin-top: 7px;
    }
}
@media (max-width: 1350px) {
    #Logo404 {
        width: 12.37037vw;	
    }
    #Headline404 {
        font-size: 2.37037vw;
        margin-top: 0.888888vw;
    }
    #Info404 {
        font-size: 1.037037vw;
        margin-top: 0.5185185vw;
    }	
}
@media (max-width: 1000px) {
	    body {
        background-image: url(../../gfx/404/tablet-bg.jpg);
        background-size: cover;
        background-position: top center;
        background-repeat: no-repeat;
    }

    #Content{   
		position: relative;
        top: 26.04166vw;
	
        margin-left: 39.0625vw;
    }
    #Logo404 {
        width: 167px;	
    }
    #Headline404 {
        font-size: 32px;
        margin-top: 12px;
    }
    #Info404 {
        font-size: 14px;
        margin-top: 0;
        line-height: 180%;
    }
    .TabletLineBreak {
        display: block;	
    }
}
@media (max-width: 640px) {
	    body {
        background: none;
        background-color: #FFFBF7;
    }

    #Content{
        margin-top: 0;
        margin-left: 0;
        padding-top: 120px;
        padding-left: 14.0625vw;
        padding-right: 14.0625vw;
    }
    .TabletLineBreak {
        display: inline;	
    }
    #Logo404 {
        width: 52.1875vw;	
    }
    #Headline404 {
        font-size: 10vw;
        margin-top: 3.75vw;
    }
    #Info404 {
        font-size: 4.375vw;
    }
    #MobileBG {
        display: block;
        width: 36.5625vw;
        position: absolute;
        left: 0;
        top: 140.625vw;	
    }
}