.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    overflow-y:auto;
    bottom: 0;
    z-index:110;
    background-color: rgba($black,0.75);
  }


.Modal {
    width:100%;
    height: 100%;
    position:fixed;
    overflow-y:auto;
    max-width:100%;
    background-color: $grey5;
    outline:0;
    @media #{$medium-40} {
    	width:470px;
    	position: absolute;
	    top: 50%;
	    left: 50%;
	   	transform: translate(-50%, -50%);
	   	height:auto;
    }
  }


  //MODAL CONTENT

  .ModalContent{
  	padding:3em 1.5em;
  	min-height:100%;
  	@media #{$medium-40} {
  		min-height:0;
  	}
  	&.signup{
  		background-color:$egg;
  	}
  }

  .ModalContent--headline{
  	display:flex;
  	justify-content:space-between;
  	position:relative;

  	h2{font-size:40px;}

  	.ModalContent--close{
  	    font-size: 40px;
	    position: absolute;
	    right: 0;
	    top: -2px;
	    cursor: pointer;
	    transition-duration: .5s;
	    &:hover{
	    	transform: rotate(180deg);
	    	transition-duration: .5s;
	    }
	}
  }

  .ModalContent--decider{
  	display:flex;
  	margin:1.5em 0;

  	h6{
  		margin-right:.5em;
  	}

  	.ModalContent--changer{
  		color:$light-blue;
  		cursor:pointer;
  		text-decoration:underline;
  	}
  }

  .ModalContent--socialLogin{
  	> div {
  		height:40px;
  		background-color:$white;
  		border:1px solid $grey4;
  		display:flex;
  		position:relative;
  		margin-bottom:1em;
  		&:before{
  			position:absolute;
  			left:10px;
  			top:7px;
  		}

  		&.socialLogin--linkedin{
  			&:before{
  				content:url("/storage/Gfx/Global/Login/login-linkedin.svg");
  			}
  		}
  		&.socialLogin--google{
  			&:before{
  				content:url("/storage/Gfx/Global/Login/login-google.svg");
  			}
  		}
  		&.socialLogin--facebook{
  			&:before{
  				content:url("/storage/Gfx/Global/Login/login-facebook.svg");
  			}
  		}

  		a{
  			margin:auto;
  			font-size:.875em;
  			font-weight:bold;
  			text-transform:uppercase;
  		}
  	}
  }

  .ModalContent--OR{
  	text-align:center;
  	margin:1.5em 0;
  }

  .ModalContent--from{
  	input{
  		width:100%;
  		height:40px;
  		border:1px solid $grey4;
  		padding-left:1em;
  		margin-bottom:1em;
  		&::placeholder{
  			color:$grey3;
  		}
  	}
  }

  .ModalContent--submit-wrp{
  	display:flex;
  	justify-content:space-between;
  	a{
  		text-decoration:underline;
  		font-size:.875em;
  		margin:auto 0;
  	}
  }

  .ModalContent--fullname{
  	display:flex;
  	justify-content:space-between;
  	> input{
  		flex-basis:48%;
  	}
  }