//COLORS

$white : #fff;
$black : #110C11;

$egg : #E9F1DF;

$green : #BEDB39;
$light-blue : #4AD9D9;

$orange : #F5A503;

$dark-blue : #083643;

$grey1 : #4D4D4F; //DARKEST
$grey2 : #8C898B;
$grey3 : #C5C4C5;
$grey4 : #ECEBEC;
$grey5 : #F5F5F5; //LIGHTEST
$grey9 : #f9f9f9;

$red : #F2385A;

$event-teal : #2DBABA;

$purple : #686BF7;

//MEDIA QUERIES

$medium: "screen and (min-width : 30em)";
$larg: "screen and (min-width : 48em)";
$extra-larg: "screen and (min-width : 75em)";

//IMG BG

@mixin bg-cover-pos	{
 background-size: cover;
 background-position: center;
}

@mixin bg-contain-pos-norep	{
 background-size: contain;
 background-position: center;
 background-repeat:no-repeat;
}


//SIZES

$NewsCardHeight: 120px;
$NewsCardHighLightedIMG : 390px;