//COLORS

$white : #fff;
$black : #110C11;

$egg : #E9F1DF;

$green : #BEDB39;
$light-blue : #4AD9D9;

$orange : #F5A503;

$dark-blue : #083643;

$grey1 : #4D4D4F; //DARKEST
$grey2 : #8C898B;
$grey3 : #C5C4C5;
$grey4 : #ECEBEC;
$grey5 : #F5F5F5; //LIGHTEST
$grey9 : #f9f9f9;

$red : #F2385A;

$event-teal : #2DBABA;

$purple : #686BF7;

$facebook : #4468B0;
$twitter : #2AA3EF;
$linkedin: #1178B3;
$youtube: #FC0D1C;


//FONT

$anton :'Anton';

//TRANSITION

$transition-fast: .3s;


//MEDIA QUERIES

$medium: "screen and (min-width : 30em)";
$medium-40: "screen and (min-width : 40em)";
$larg: "screen and (min-width : 48em)";
$larg-60: "screen and (min-width : 60em)";
$extra-larg: "screen and (min-width : 75em)";

//IMG BG

@mixin bg-cover-pos	{
 background-size: cover;
 background-position: center;
}

@mixin bg-contain-pos-norep	{
 background-size: contain;
 background-position: center;
 background-repeat:no-repeat;
}

@mixin placeholder($color) {
    &::-webkit-input-placeholder {
        color: $color;
    }
    &::-moz-placeholder {
        color: $color;
    }
    &:-ms-input-placeholder {
        color: $color;
    }
    &:-moz-placeholder {
        color: $color;
    }
}

@mixin img-crop--parent($height) {
	height: $height;
    overflow: hidden;
    position: relative;
}

@mixin img-crop {
	position: absolute;
    left: 50%;
    top: 50%;
    min-height: 100%;
    min-width: 100%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: none;
}

@mixin after-BGline{
    content: '';
    width: 100%;
    height: 150px;
    background: url(/storage/Gfx/bg-line.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    left: 0;
    bottom: 0;
}


//SIZES

$NewsCardHeight: 120px;
$NewsCardHighLightedIMG : 390px;

$SpeakerCardHeight: 315px;
$SpeakerCardHighLightedIMG : 430px;

$IntroBoxes-BigBoxIMG : 270px;
$IntroBoxes-SmallBoxMobileIMG : 160px;
$IntroBoxes-SmallBoxDesktopIMG : 220px;

$HeadlineSponsorsBoxWidth : 390px;