.Startup-card{
	display:flex;
	justify-content:space-between;
	border: 2px solid $grey4;
	flex-basis: 100%;
    margin: 1em 0;
    @media #{$larg} {
    	flex-basis:47%;
    }
}

.Startup-card--details{
	display:flex;
	flex-direction:column;
	padding:1em;
	width:80%;

	h5{
		font-size:.8em;
    	@media #{$extra-larg} {
    		font-size:initial;
    	}
	}
}

.Startup-card--preview{
	img{
		width:80px;
	}
}

.Startup-card--category{
	margin-top: 1em;
    margin-bottom: .5em;
	a{color:$purple}
	@media #{$extra-larg} {
    	margin-top: 1em;
    }
}

.Startup-card--rank{
	color:$grey2;
}

//IN THE HEADER

.App-header--subli{
	.Startup-card{
		flex-direction:column-reverse;
		margin:0;
	}
	.Startup-card--details{
		width:100%;
	}
	.Startup-card--preview{
		padding:1em;
		border-bottom:2px solid $grey4;
		display:block;
		img{
			width:100%;
		}
	}
}