.News--wrp{
	margin:3em 0;
	.seeAll h5{
		color:$purple;
		&:after{
			content:url("/storage/Gfx/News/arrow-forwardPurple.svg");
			margin-left:5px;
		}
	}
}

.NewsCard--wrp{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
}

.News--Title-and-Categs{
	display:flex;
}

.News--title{
	margin:auto;
	h2{
		padding-right:.5em;
	}
}