.Social{
	display:flex;
	margin-top:1em;

	img{
		margin-right:1.5em;
	    border-radius: 25px;
	    height:40px;
		background: rgba($white,0.12);
		padding:.5em;
		&:hover{
			cursor:pointer;
			transition:all $transition-fast;
		}
		@media #{$larg} {
			margin-right:1em;
		}
		&.Social--facebook:hover{
			background:$facebook;
		}
		&.Social--twitter:hover{
			background:$twitter;
		}
		&.Social--linkedin:hover{
			background:$linkedin;
		}
		&.Social--youtube:hover{
			background:$youtube;
		}

	}
}

//IN HEADER

.App-header--social .Social {
	margin-bottom:1em;	
	img{
		border:1px solid $grey3;
		background:rgba($black,0.15);
	}
}