.Mobile-App{
	background:url("/storage/Gfx/MobileApp/iphone-BG.png");
	background-size:contain;
	background-repeat:no-repeat;
	background-position:right;
	flex-basis:48%;
	display:flex;
	flex-direction:column;
	height:400px;
}

.Mobile-App--wrp{
	margin-left:auto;
	margin-right:2em;
	padding-top:7em;
	text-align:center;
	p{
		margin:1.5em 0;
		font-weight:bold;
		width:200px;
	}
	img{
		margin-bottom:1.5em;
	}
}
	
