.Mobile-App{
	
	flex-basis:48%;
	display:flex;
	flex-direction:column;
	height:350px;
	@media #{$larg} {
    	background:url("/storage/Gfx/MobileApp/iphone-BG.png");
		background-size:contain;
		background-repeat:no-repeat;
		background-position:right;
		height:400px;
    }
}

.Mobile-App--wrp{
	
	padding-top:4em;
	text-align:center;

	@media #{$larg} {
		margin-left:auto;
		margin-right:2em;
		padding-top:7em;	
	}

	p{
		margin:1.5em 0;
		font-weight:bold;
		
		@media #{$larg} {
			width:200px;	
		}
	}
	img{
		margin-bottom:1.5em;
	}
}
	
