.Mobile-App{
	background:url("/storage/Gfx/MobileApp/iphone-BG.png");
	@include bg-contain-pos-norep;
	flex-basis:48%;
	display:flex;
	flex-direction:column;
	height:400px;
}

.Mobile-App--wrp{
	margin:auto;
	padding-top:4em;
	text-align:center;
	p{
		margin:1.5em 0;
		font-weight:bold;
		width:200px;
	}
	img{
		margin-bottom:1.5em;
	}
}
	
