.HeadlineSponsorsBox{

    @media #{$larg-60} {
    	position: absolute;
	    right: 0;
	    top: -65px;
    }

    h2{
    	margin-bottom:.75em;
    }

    .HeadlineSponsorsBox--wrp{
    	background:$grey5;
		padding:1.5em;
		@media #{$larg-60} {
			width:$HeadlineSponsorsBoxWidth;
		}
    }

    .linear-BG{
    	padding:2em 0;
    }
}

.HeadlineSponsorsBox--Sponsors{
	display:flex;
	flex-wrap:wrap;
	justify-content: space-between;

	.SponsorImgBox{
		height:60px;
		width:48%;
		background:$white;
		display:flex;
		margin:.5em 0;
		@media #{$medium} {
			width:100px;
		}
		img{
			margin:auto;
		}

		&:hover{
			cursor:pointer;
			img{
				transform:scale(1.1);
				transition:all $transition-fast;
			}
		}
	}
}