.Testimonial--wrp{
	margin:1.5em 0;
}

.TestimonialDetails--wrp{
	display:flex;
	justify-content:space-between;
	padding-left:4.5em;
	@media #{$larg} {
		padding-left:5.5em;
	}

	.Testimonial--person{
		h5{
			text-transform:uppercase;
			font-family:'Anton';
		}
	}
}

.Testimonial{
	display:flex;
	flex-direction:column-reverse;
	justify-content:space-between;

	@media #{$larg-60} {
    	flex-direction:row;
    }

	.BigBox{
		flex-basis:39%;
		@include img-crop--parent(470px);
		img{
			@include img-crop;
		}
		@media #{$larg-60} {
			margin-right:1.5em;
		}
	}

	.BigBox--wrp{
		display:flex;
		flex-direction:column;
		margin-bottom:2em;
		@media #{$larg-60} {
    		margin-bottom:0;
    	}

		h1{
			position:relative;
			padding-left:1.5em;
			margin-top:.25em;
			&:before{
				content:url("/storage/Gfx/Testimonial/coma.svg");
				position:absolute;
				top:-15px;
				left:0;

			}
		}
	}

	.ImgBoxes--wrp .SmallBox--wrp{
		margin-top:0;
	}
}

.TestimonialDetails--wrp{
	margin-top:1em;
	@media #{$larg-60} {
    	margin-top:auto;
    }
}