.News-card{
	display:flex;
	justify-content:space-between;
	border: 2px solid $grey4;
	flex-basis: 100%;
	height:$NewsCardHeight;
    margin-bottom: 1em;
    &:last-child{
    	margin-bottom:0;
    }
    @media #{$larg} {
    	flex-basis:47%;
    }
}

.News-card--details{
	display:flex;
	flex-direction:column;
	padding:1em;
	width:80%;

	h5{
		font-size:.8em;
    	@media #{$extra-larg} {
    		font-size:initial;
    	}
	}
}

.News-card--preview{
	display:flex;
	img{
		width:80px;
	}
}

.News-card--author-category{
	margin-top: auto;
    margin-bottom: .5em;
	a{color:$purple}
	@media #{$extra-larg} {
    	margin-top: 1em;
    }
}

.News-card--date{
	color:$grey2;
}

//IN THE HEADER

.App-header--subli{
	.News-card{
		flex-direction:column-reverse;
		margin:0;
	}
	.News-card--details{
		width:100%;
		padding: .5em;
		.News-card--author-category{
			margin-top:1em;
		}
	}
	.News-card--preview{
		display:block;
		img{
			width:100%;
		}
	}
}

//HIGHLIGHT

.News-card--HighLight{
	position:relative;
	flex-basis:48%;

	.News-card--details{
		position:absolute;
		z-index:2;
		width:100%;
		bottom:0;
		color:$white;
		span{color:$white}
	}

	.News-card--img{
		height: $NewsCardHighLightedIMG;
    	overflow: hidden;
    	position: relative;

		img{
			position: absolute;
		    left: 50%;
		    top: 50%;
		    min-height:100%;
		    min-width:100%;
		    -webkit-transform: translate(-50%,-50%);
		    -ms-transform: translate(-50%,-50%);
		    transform: translate(-50%,-50%);
		    max-width:none;
		}
	}
}