.News-card{
	display:flex;
	justify-content:space-between;
	border: 1px solid $grey4;
	background:$white;
	flex-basis: 100%;
	z-index:2;
    margin-bottom: 1em;
    &:hover{
    	background:rgba($purple,0.02);
    	cursor:pointer;
    	h5{
    		color:$purple;
    	}
    	transition: all $transition-fast;
    }
    @media #{$larg} {
    	flex-basis:48%;
    }
}

.News-card--details{
	display:flex;
	flex-direction:column;
	padding:1em;
	width:80%;

	h5{
		font-size:.8em;
		margin-bottom:1em;
    	@media #{$extra-larg} {
    		font-size:initial;
    		margin-bottom:0;
    	}
	}
}

.News-card--preview{
	display:flex;
	@include img-crop--parent($NewsCardHeight);
	width:80px;
	img{
		@include img-crop;
	}
}

.News-card--author-category{
	margin-top: auto;
    margin-bottom: .5em;
    color:$purple;
	a{color:$purple}
	@media #{$extra-larg} {
    	margin-top: 1em;
    }
}

.News-card--date{
	color:$grey2;
}

//IN THE HEADER

.App-header--subli{
	.News-card{
		flex-direction:column-reverse;
		margin:0;
	}
	.News-card--details{
		width:100%;
		padding: .5em;
	}
	.News-card--preview{
		width:100%;
		img{
			width:100%;
		}
	}
}

//HIGHLIGHT

.News-card--HighLight{
	position:relative;
	flex-basis:48%;
	margin-bottom: 1em;
	&:before{
		content:'';
	    width: 100%;
	    height: 70%;
	    position: absolute;
	    bottom: 0;
	    background: linear-gradient(rgba($black, 0), rgba($black, 1));
	    z-index: 1;
	}

	.News-card--details{
		position:absolute;
		z-index:2;
		width:100%;
		bottom:1em;
		color:$white;
		span{color:$white}
	}

	.News-card--img{
		@include img-crop--parent($NewsCardHighLightedIMG);
		img{
			@include img-crop;
		}
	}
}