.MainContent--header{
	height:600px;
	position:relative;
	color:$white;
	padding:7em 0;

	&:after{
		content:'';
		width:100%;
		height:150px;
		background:url("/storage/Gfx/bg-line.png");
		@include bg-cover-pos;
		position:absolute;
		left:0;
		bottom:0;
	}

	&.Home--header{
		background: url(/storage/Gfx/home-bgD.jpg);
    	@include bg-cover-pos;
	};
	&.News--header{
		background: url(/storage/Gfx/news-bgD.jpg);
    	@include bg-cover-pos;

    	.MainContent--header---wrp{
    		flex-wrap:wrap;
    	}
    	.MainContent--title{
    		flex-basis:100%;
    	}
    	.MainContent--highlight{
    		display:flex;
    		justify-content:space-between;
    		flex-basis:100%;
    	}
    	.News-card{
    		flex-basis:32%;
    	}
	}
	&.Talks--header{
		background: url(/storage/Gfx/talks-bgD.jpg);
    	@include bg-cover-pos;
	}
}

.MainContent--header---wrp{
	display:flex;
	justify-content:space-between;

	.MainContent--title{
		flex-basis:50%;
		span{
			margin-bottom:1em;
		}
		button{
			margin-top:2em;
		}
	}
	.MainContent--highlight{
		flex-basis:32%;
	}
}

.Headline{
	display: flex;
    justify-content: space-between;
    margin-bottom:.75em;
}

.seeAll{
	display:flex;
	h5{
		margin:auto;
		color:$red;
	}
}