.App-header{
	background:$white;
	margin-bottom:3em;
}

.App-header--logo-_-menu{
	display:flex;
}

.App-header--logo{
	margin-right:1em;
}

.App-header--menu{
	display:flex;
	justify-content:space-between;
}

.App-header--search-_-login{
	display:flex;
}