.App-header{
	background:$white;
}

.App-header--logo-_-menu{
	display:flex;
}

.App-header--logo{
	margin-top:2px;
	margin-right:1em;
	a{
		display:flex;
	}
}

.App-header--menu{
	display:flex;
	justify-content:space-between;
	position:relative;
	padding:1em 0;
	@media #{$larg} {
		position:static;
	}
}

.App-header--search-_-login{
	display:flex;
	margin-right:3em;
	@media #{$larg} {
		margin-right:0;
	}
}