.SpeakerCard{
	flex-basis:48%;
	cursor:pointer;
	position:relative;
	margin:.75em 0;
	@media #{$medium-40} {
		flex-basis:32%;
	}
	@media #{$larg} {
		flex-basis:23%;
	}

	.SpeakerCard--details{
		position: absolute;
	    bottom: 0;
	    z-index:2;
	    width: 100%;
	    padding:1em;
	    color:$white;
	    background:repeating-linear-gradient(-45deg, $black, $black 1px, rgba($black,0.8) 1px, rgba($black,0.8) 2px);

	    h5{
	    	font-family:$anton;
	    	text-transform: uppercase;
    		letter-spacing: 1px;
	    }
	    span{
	    	margin-top:.5em;
	    }
	}

	.SpeakerCard--img{
		@include img-crop--parent(260px);
		@media #{$medium} {
			height: $SpeakerCardHeight
		}
		img{
			@include img-crop;
		}
	}

	&.BecomeSpeaker{
		padding:1em;
		border:1px solid $black;
		position:relative;
		display:flex;
		flex-direction:column;
		&:hover{
			transition:all $transition-fast;
			background:$black;
			color:$white;
			&:before,&:after{
				display:none;
			}

		}

		@media #{$extra-larg} {
			padding:3em 1.5em 1.5em 1.5em;
		}

		&:before,&:after{
			content: '';
		    width: 30px;
		    height: 5px;
		    position: absolute;
		    background: $white;
		}
		&:before{
		    left: 10px;
		    bottom: -3px;
		}
		&:after{
		    right: 10px;
		    top: -3px;
		}

		h2{
			font-size:1.5em;
			@media #{$medium-40} {
				font-size:2em;
			}
		}

		h5{
			margin-top:auto;
			font-size: .875em;
			@media #{$medium-40} {
				font-size:1em;
			}
		}
	}
}



// HIGHLIGHTED

.SpeakerCardHighLight{
	display:flex;
	flex-direction:column;
	flex-basis:100%;
	margin-bottom:1.5em;
	@media #{$larg} {
		flex-direction:row;
	}

	.SpeakerCardHighLight--img{
		position:relative;
		img{
			width:100%;
		}
		@media #{$larg} {
			@include img-crop--parent(auto);
			flex-basis:50%;
			img{
				@include img-crop;
				width:auto;
			}
		}
		@media #{$extra-larg} {
			flex-basis:30%;
		}
	}

	.SpeakerCardHighLight--details{
		display:none;
		flex-direction:column;
		flex-basis:65%;
		padding-left:1.5em;
		@media #{$larg} {
			display:flex;
		}
	}

	.SpeakerCardHighLight--name-and-social{
		display:flex;
		flex-direction:column;
		justify-content: space-between;

		@media #{$extra-larg} {
			flex-direction:row;
		}

		.SpeakerCardHighLight--social{
			margin-top:1em;
			@media #{$extra-larg} {
				margin:auto 0;
			}

			img{
				margin-right:1em;
				padding: .5em;
    			cursor:pointer;
    			border-radius: 100%;
    			border: 1px solid $grey4;
    			@media #{$extra-larg} {
					margin-left:1em;
					margin-right:0;
				}

				&.Social--youtube:hover{
					border-color:$youtube;
				}
				&.Social--linkedin:hover{
					border-color:$linkedin;
				}
				&.Social--twitter:hover{
					border-color:$twitter;
				}
			}
		}
	}

	.SpeakerCardHighLight--categ-date-place{
		display:flex;
		margin:1.5em 0;
		> div {
			margin-right:2em;
			display:flex;
			position:relative;
			
			span{
				margin:auto;
				font-weight:bold;
			}

			&.categ{
				padding:.25em .5em;
				background:$red;
				color:$white;
			}
			&.date{
				&:before{
					content:url('/storage/Gfx/Events/Speakers/speaker-calendar.svg');
					position:absolute;
					left: -20px;
    				top: 2px;
    			}
			}
			&.place{
				&:before{
					content:url('/storage/Gfx/Events/Speakers/speaker-pin.svg');
					position:absolute;
					left: -20px;
    				top: 2px;
				}
			}
		}
	}

	.SpeakerCardHighLight--speakContent{
		h4{
			margin-bottom:1em;
		}
	}

	.SpeakerCardHighLight--bio{
		margin-top:auto;
		position:relative;
		color:$grey2;
		padding-top:1em;
		margin-top:1em;
		&:before{
			content:'';
			width:80px;
			height:5px;
			position:absolute;
			top:0;
			border-top:2px solid $grey3;
		}
	}

	.SpeakerCardHighLight--shortIno{
		color:$white;
		@media #{$larg} {
			display:none;
		}

		.SpeakerCardHighLight--categ-date-place{
			position:absolute;
			top:30px;
			left:30px;
		}

		.SpeakerCardHighLight--shortName{
			position:absolute;
			bottom:30px;
			left:30px;
		}
	}
}