.App-footer{
	padding:3em 0;
	margin-top:auto;
	background:url("/storage/Gfx/Global/Footer/footer-bgM.jpg");
	background-size:cover;
	color:$grey3;
	@media #{$larg} {
  		padding:4em 0;
  		background:url("/storage/Gfx/Global/Footer/footer-bgD.jpg");
  		background-size:cover;
	}
}

.App-footer--menu__wrp{
	display:flex;
	flex-direction:column-reverse;
	justify-content:space-between;
	flex-wrap:wrap;
	margin:3em 0;
	@media #{$larg} {
  		margin:4em 0;
  		flex-direction:row;
	}

}

.newsLetter-and-Social{
	display:flex;
	flex-direction:column;
}