@import 'components/reset';
@import '../common';
@import '../menu';
@import '../inner-menu';
@import '../footer';
@import '../popup';
@import 'components/menu';
@import 'components/footer';
@import 'components/popup';
@import 'components/speakergrid';
@import 'components/common';

$lon : #33cc33;
$dark-green: #083643;


body {
  position: relative;
}

header {
  height: 92vh;
  min-height: 400px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  background: url("../../gfx/london/travel-mobile-bg.jpg") no-repeat #000;
  background-size: cover;
  background-position: center;
}

@media (min-width: 40em) {
  header {
    height: 55vh;
    background: url("../../gfx/london/travel-bg.jpg") no-repeat #000;
    background-size: cover;
    background-position: left;
  }
}

.hamb-wrp {
  width: 100%;
  height: 60px;
  position: fixed;
  z-index: 7000;
  padding: 0 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 75em) {
  .hamb-wrp {
    display: none;
  }
}

.hamb-wrp img {
  display: none;
}

.hamb-wrp.vanish {
  background-color: transparent;
  position: absolute;
  z-index: 9915;
}

.hamb-wrp.black {
  background-color: #000;
  -webkit-transition: none;
  transition: none;
}

.hamb-wrp.black #unleash-logo {
  margin: auto 0;
}

.hamb-wrp.black img {
  display: block;
  width: 150px;
}

@media (min-width: 40em) {
  .hamb-wrp.black {
    -webkit-transition: background-color 2s;
    transition: background-color 2s;
  }
}

.bar,
.bar:after,
.bar:before {
  width: 35px;
  height: 5px;
}

.bar {
  position: relative;
  -webkit-transform: translateY(26px);
          transform: translateY(26px);
  background: white;
  -webkit-transition: all 0ms 300ms;
  transition: all 0ms 300ms;
}

.bar.animate {
  background: rgba(255, 255, 255, 0);
}

.bar:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 10px;
  background: white;
  -webkit-transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar:after {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  background: white;
  -webkit-transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar.animate:after {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar.animate:before {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.wrp {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 1em;
}

@media (min-width: 120em) {
  .wrp {
    max-width: 53vw;
  }
}

section.one .wrp {
  padding: 2em;
  padding-bottom: 3em;
  color: #fff;
}

@media (min-width: 40em) {
  section.one .wrp {
    padding: 4em 3em;
  }
}

section.one .wrp h2 {
  color: #33cc33;
}

section.one .wrp button {
  margin: 4em 0;
  margin-bottom: 0;
}

section.two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 600px;
}

section.two .wrppr {
    width: 100%;
    min-height: 500px;
    box-shadow: inset -5px 0px 0px rgba(0, 0, 0, 0.7) }
    @media (min-width: 75em) {
      section.two .wrppr {
        width: 50%; } }
  section.two .fix-bg {
    width: 100%;
    height: 500px;
    box-shadow: inset 3px 3px 25px rgba(0, 0, 0, 0.7);
    display: block;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:scroll;
    background-position: left center;
    @media (min-width: 40em) {
      background-attachment:fixed;
    }
    @media (min-width: 75em) {
      height: 100%;
      background-size: 50% 100%;
      background-attachment:fixed;
    }
  }

    section.two .fix-bg.travelbg {
      background-image: url("../../gfx/london/travel-sec-mobile-bg.jpg");
      background-repeat: no-repeat;
      background-position: bottom center; }
      @media (min-width: 40em) {
        section.two .fix-bg.travelbg {
          background-image: url("../../gfx/london/travel-sec-tablet-bg.jpg");
          background-attachment: fixed; } }
      @media (min-width: 75em) {
        section.two .fix-bg.travelbg {
          background-image: url("../../gfx/london/travel-sec-bg.jpg");
          background-position: bottom left; } }

    section.two .fix-bg.floorplanbg {
      background-image: url("../../gfx/london/floorplan-sec-mobile-bg.jpg");
      background-repeat: no-repeat;
      background-position: bottom center; }
      @media (min-width: 40em) {
        section.two .fix-bg.floorplanbg {
          background-image: url("../../gfx/london/floorplan-sec-tablet-bg.jpg");
          background-attachment: fixed; } }
      @media (min-width: 75em) {
        section.two .fix-bg.floorplanbg {
          background-image: url("../../gfx/london/floorplan-sec-bg.jpg");
          background-position: bottom right; } }
    section.two .fix-bg.floorplancitybg {
      background-image: url("../../gfx/london/airplane-sec-mobile-bg.jpg");
      background-repeat: no-repeat;
      background-position: top center; }
      @media (min-width: 40em) {
        section.two .fix-bg.floorplancitybg {
          background-image: url("../../gfx/london/airplane-sec-tablet-bg.jpg");
          background-attachment: fixed; } }
      @media (min-width: 75em) {
        section.two .fix-bg.floorplancitybg {
          background-image: url("../../gfx/london/airplane-sec-bg.jpg");
          background-position: top right; } }

section.two.clients {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

@media (min-width: 75em) {
  section.two.clients {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

section.two.keynote.arianna{
  flex-direction: column-reverse;
  @media (min-width: 75em) {
    flex-direction: row;
  }

  &.flights{
    display: none;
  }

}

section.two.keynote.arianna .content {
  background-color: #33cc33;
  padding-left: 0;
  padding-right: 0;
  @media (min-width: 75em) {
    padding-bottom: 3em;
  }
}

section.two.keynote.arianna .mic-logo{
  margin-left: 5px;
}

@media (min-width: 120em) {
  section.two.keynote.arianna .content {
    padding-bottom: 2.55vw;
  }
}

section.two.keynote.arianna .btm .h4wrp{
  display: block;
  margin: 0;
  @media (min-width: 40em) {
    display: flex;
  }
}

section.two.keynote.arianna .h4wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1em;
  .white-btn{
    margin: .5em 0;
    @media (min-width: 40em) {
      margin: 0;
      margin-right: 1em;
    }
  }
}

section.two.keynote.arianna .h4wrp > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 2em;
}

@media (min-width: 75em) {
  section.two.keynote.arianna .h4wrp > div {
    margin-left: 3.5em;
  }
}

section.two.keynote.arianna .h4wrp .U-logo {
  margin: auto;
  margin-right: 2em;
}

@media (min-width: 75em) {
  section.two.keynote.arianna .h4wrp .U-logo {
    margin: auto;
    margin-right: 4em;
  }
}

section.two.keynote.arianna p {
  color: #fff;
}

section.two.keynote.arianna h2 {
  padding: .2em;
  padding-left: 1em;
  padding-right: .5em;
  color: #fff;
  background-color: #083643;
  display: inline-block;
  //font-size: 1.2em;
  &.aloft{
    margin-bottom: 0;
  }

  @media (min-width: 512px) {
    font-size: 1.9rem;
  }
}

@media (min-width: 75em) {
  section.two.keynote.arianna h2 {
    padding-left: 2em;
  }
}

section.two.keynote.arianna h4 {
  color: #fff;
  margin: auto;
  font-size: 1rem;
  padding: 0 1em;
}

@media (min-width: 75em) {
  section.two.keynote.arianna h4 {
    font-size: 1.3rem;
    padding: 0 2em;
  }
}

section.two.keynote.arianna .pdg {
  padding: 0 2em;
  h3{
    color:#fff;
  }
  span{
    text-transform: uppercase;
    font-weight: 600;
    display: block;
    margin: .5em 0;
    font-size: 100%;
  }
}

p.code{
    display: inline-block;
    padding-left: .5em;
    line-height: normal;
    font-weight: 600;
  }

  .booking-wrp{
    margin-top:1em;
    p.code{
      margin:0!important;
      font-style: italic;
    }
  }

  .booking-code{
    background: $dark-green;
    padding: 5px;
    span{
      color:#fff;
      font-weight: bold;
    }
  }

section.two.keynote.arianna .btm{margin-top:auto}

@media (min-width: 75em) {
  section.two.keynote.arianna .pdg {
    padding: 0 4em;
  }
}

@media (min-width: 120em) {
  section.two.keynote.arianna .pdg {
    padding: 0 3.1vw;
  }
}

section.two .content {
  padding: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section.two .content .content-wrap {
  margin: 2em 0;
  margin-top: 0;
  @media (min-width: 75em) {
    margin-top:2em;
  }
}

@media (min-width: 120em) {
  section.two .content .content-wrap {
    margin: 1.68vw 0;
  }
}

@media (min-width: 75em) {
  section.two .content {
    width: 50%;
    padding: 2em 4em;
  }
}

@media (min-width: 120em) {
  section.two .content {
    padding: 1.68vw 3.4vw;
  }
}

section.two button {
  margin-top: auto;
}

@media (min-width: 75em) {
  section.two button {
    margin-bottom: 2em;
  }
}

section.one-cntr {
  background: url("../../gfx/london/one-cntr-bg.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  padding: 2em 0;
  &.vhcls{
    background: url("../../gfx/london/travel-vehicles-bg.jpg");
    background-size: cover;
    background-position: center;
  }
}

@media (min-width: 75em) {
  section.one-cntr {
    padding: 4em 0;
  }
}

section.one-cntr p, section.one-cntr h2 {
  color: #fff;
  line-height: 2em;
}

section.one-cntr h2 {
  display: inline-block;
  position: relative;
  background-color: #33cc33;
  padding: .2em .5em;
  line-height: 1;
  font-size: 1.6rem;
  @media (min-width: 40em) {
    font-size: 1.9rem;
  }
}

section.one-cntr h2::before, section.one-cntr h2::after {
  position: absolute;
  top: 3px;
}

section.one-cntr h2::before {
  content: url("../../gfx/london/left-sign.png");
  left: -33px;
}

section.one-cntr h2::after {
  content: url("../../gfx/london/right-sign.png");
  right: -33px;
}

section.one-cntr button {
  margin: 1em;
  margin-top: 2em;
  width: 90%;
}

@media (min-width: 40em) {
  section.one-cntr button {
    width: 205px;
  }
}

@media (min-width: 120em) {
  section.one-cntr button {
    width: 10.7vw;
  }
}

section.one-cntr button:hover {
  background-color: transparent;
  color: #fff;
  border-color: #fff;
}

section.map {
  min-height: 600px;
  position:relative;
  display: flex;

  @media (min-width: 125em) {
    height: 27vw;
     iframe{
      height: 100%;
    }
  }
}

@media (min-width: 65em) {
  section.map {
    display: block;
  }
}

section.map .content {
  padding: 0 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position:absolute;
  bottom:0;
  width: 90%;
}

@media (min-width: 65em) {
  section.map .content {
    max-width: 950px;
    top: 20%;
    bottom:auto;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media (min-width: 75em) {
  section.map .content {
    max-width: 49.5vw;
  }
}

section.map .mapcont-wrp {
  padding: 2em;
  background-color: #fff;
  -webkit-box-shadow: 3px 3px 15px #999;
          box-shadow: 3px 3px 15px #999;
  margin-top: auto;
  max-width: 400px;
}

section.map .mapcont-wrp p {
  margin: 1em 0;
}

@media (min-width: 95em) {
  section.map .mapcont-wrp {
    padding: 3.3vw;
    max-width: 21vw;
    width: 50%;
    padding: 4em;
  }
}

section.map .mapcont-wrp button {
  margin-top: 1em;
}

section.map .map-pic {
  width: 100%;
  background: url("../../gfx/london/venue.jpg");
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: 3px 3px 15px #999;
          box-shadow: 3px 3px 15px #999;
  display: none;
}

@media (min-width: 95em) {
  section.map .map-pic {
    width: 50%;
    display: block;
  }
}


section.hotels{
  h2{
    text-align: center;
    margin: 1em 0;
    margin-top: 0;
     @media (min-width: 75em) {
      margin: 0;
      margin-bottom: 1.5em;
    }
  }

  .speakers-wrap{
    justify-content: center;
  }

  .speakers-wrap .speaker{
    width: 100%;
    margin:0 .5em;
    display: flex;
    flex-direction: column;

    &.none{
      display: none;
    }

    @media (min-width: 650px) {
      width: 46%;
    }
    @media (min-width: 75em) {
      width: 31%;
    }
    @media (min-width: 95em) {
      width: 32%;
    }
    @media (min-width: 110em) {
      width: 19%;
    }
    @media (min-width: 125em) {
      margin: 0 .45vw;
    }
  }

  .speakers-wrap a:last-child{
    display: block;
    margin-top: auto;
  }


  .speakers-wrap .speaker .dtls-wrap{
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .speakers-wrap .speaker .dtls-wrap h6.name{
    margin: .5em 0;
    font-size: 16px;
    @media (min-width: 500px) {
      font-size: 3.3vw;
    }
    @media (min-width: 650px) {
      font-size: 2.3vw;
    }
    @media (min-width: 55em) {
      font-size: 1.8vw;
    }
    @media (min-width: 75em) {
      font-size: 1.4vw;
    }
    @media (min-width: 95em) {
      font-size: 1.3em;
    }
    @media (min-width: 125em) {
      font-size: .8vw;
    }
  }

  .speakers-wrap .speaker .dtls-wrap p{
    font-weight: bold;
    color: $dark-green;
    margin-top: 1em;
    font-size: .8em;
    @media (min-width: 500px) {
      font-size: 3vw;
    }
    @media (min-width: 650px) {
      font-size: 2vw;
    }
    @media (min-width: 55em) {
      font-size: 1.5vw;
    }
    @media (min-width: 75em) {
      font-size: 1.2vw;
    }
    @media (min-width: 95em) {
      font-size: 1.1vw;
    }
    @media (min-width: 110em) {
      font-size: .85em;
    }
    @media (min-width: 125em) {
      font-size: .75vw;
    }
  }

  .speakers-wrap .speaker .dtls-wrap p.code{
    color: $lon;
    margin:1em 0;
    font-size: 13px;
    padding: 0;
    @media (min-width: 75em) {
      font-size: .9vw;
    }
    @media (min-width: 95em) {
      font-size: 13px;
    }
    @media (min-width: 125em) {
      font-size: .68vw;
    }
  }
  .speakers-wrap .speaker .dtls-wrap span{
    margin: .2em 0;
    text-transform: uppercase;
    font-size: 12px;
     @media (min-width: 500px) {
      font-size: 3vw;
    }
    @media (min-width: 650px) {
      font-size: 2vw;
    }
    @media (min-width: 55em) {
      font-size: 1.5vw;
    }
    @media (min-width: 75em) {
      font-size: 1.2vw;
    }
    @media (min-width: 95em) {
      font-size: 1.1vw;
    }
    @media (min-width: 110em) {
      font-size: .85em;
    }
    @media (min-width: 125em) {
      font-size: .75vw;
    }
  }
  .speakers-wrap .speaker .dtls-wrap button{
    margin-top: auto;
    width: 100%!important;
  }
}


.vehicles-wrp{
  .vehicles{
    padding: 1em 3em;
    background: #fff;
    text-align: left;
    margin: 2em 0;
    position:relative;
    @media (min-width: 125em) {
      padding: .21vw 2.5vw;
    }

    &:hover{
      background:#33cc33;
      p,span{
        color: #fff;
      }
      &::after{
        background-image:url("../../gfx/london/jobarrow-hover.png");
      }
    }

    &::before{
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      position:absolute;
      left: 10px;
      top: 11px;
      background-size: contain;
      background-position: center;
      background-repeat:no-repeat;
      @media (min-width: 40em) {
        width: 25px;
        height: 25px;
      }
      @media (min-width: 125em) {
        width: 1.3vw;
        height: 1.3vw;
      }
    }
    &::after{
      content: '';
      display: block;
      width: 10px;
      height: 10px;
      position:absolute;
      right: 15px;
      top: calc(50% - 5px);
      background-image:url("../../gfx/london/jobarrow.png");
      background-size: contain;
      background-position: center;
      background-repeat:no-repeat;
      @media (min-width: 125em) {
        width: .55vw;
        height: .55vw;
      }
    }

    p{
      color: #33cc33;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 12px;
      line-height: normal;
      margin-bottom:.5em; 
      @media (min-width: 40em) {
        font-size: 15px;
      }
      @media (min-width: 125em) {
        font-size: .78vw;
      }
    }
    span{
      font-size: 12px;
      color:#000;
      @media (min-width: 40em) {
        font-size: 15px;
      }
      @media (min-width: 125em) {
        font-size: .78vw;
      }
    }

  }

  .eliz{
    @extend .vehicles;
    &::before{
      background-image:url("../../gfx/london/metroicon.png");
    }
    &:hover{
      &::before{
        background-image:url("../../gfx/london/metroicon-hover.png");
      }
    }
  }
  .tube{
    @extend .vehicles;
    &::before{
      background-image:url("../../gfx/london/tubeicon.png");
    }
    &:hover{
      &::before{
        background-image:url("../../gfx/london/tubeicon-hover.png");
      }
    }
  }
  .car{
    @extend .vehicles;
    &::before{
      background-image:url("../../gfx/london/caricon.png");
    }
    &:hover{
      &::before{
        background-image:url("../../gfx/london/caricon-hover.png");
      }
    }
  }
  .park{
    @extend .vehicles;
    &::before{
      background-image:url("../../gfx/london/parkicon.png");
    }
    &:hover{
      &::before{
        background-image:url("../../gfx/london/parkicon-hover.png");
      }
    }
  }
}

sub, sup {
  /* Specified in % so that the sup/sup is the
     right size relative to the surrounding text */
  font-size: 75%;

  /* Zero out the line-height so that it doesn't
     interfere with the positioning that follows */
  line-height: 0;

  /* Where the magic happens: makes all browsers position
     the sup/sup properly, relative to the surrounding text */
  position: relative;

  /* Note that if you're using Eric Meyer's reset.css, this
     is already set and you can remove this rule */
  vertical-align: baseline;
}

sup {
  /* Move the superscripted text up */
  top: -0.5em;
}

sub {
  /* Move the subscripted text down, but only
     half as far down as the superscript moved up */
  bottom: -0.25em;
}