#BlogpostContainer{
  display: flex;

}

#BlogImgContainer{
  margin-right: 10px;
  img{
    width: 175px;
  }
}

#BlogDataContainer{
  h4{
    font-size: 15px;
    text-transform: none;
    color: #323232;
  }
}