.Search--form	{ 
	input{
		width:0;
		border:none;
	}
	button{
		background:url("/storage/Gfx/Global/Header/search.svg");
		background-repeat: no-repeat;
		width:30px;
		height:24px;
		border:none;
	}

}