.Talk-card{
	display:flex;
	flex-wrap:wrap;
	border: 2px solid $grey4;
	flex-basis: 100%;
    margin: 1em 0;
    @media #{$medium} {
    	flex-basis:49%;
    }
    @media #{$larg} {
    	flex-basis:32%;
    }
}

.Talk-card--details{
	padding:1em;
	h5{
		font-size:.8em;
		@media #{$larg} {
    		font-size:.8em;
    	}
    	@media #{$extra-larg} {
    		font-size:initial;
    	}
	}
}

.Talk-card--preview{
	position:relative;
	&:after{
		content:url("/storage/Gfx/Talks/play.svg");
		position: absolute;
		top: 50%;
    	left: 50%;
    	transform: translate(-50%, -50%);
	}
}

.Talk-card--category{
	margin-top: auto;
    margin-bottom: .5em;
	a{color:$purple}
	@media #{$extra-larg} {
    	margin-top: 1em;
    }
}

.Talk-card--date{
	color:$grey2;
}

// IN THE HEADER

.App-header--subli{
	.Talk-card{
		margin:0;
	}
	.Talk-card--details{
		padding:.5em;
	}
	.Talk-card--category{
		margin-top:1em;
	}
}

.App-header--subli{
	.News-card{
		flex-direction:column-reverse;
		margin:0;
	}
	.News-card--details{
		width:100%;
		padding: .5em;
		.News-card--author-category{
			margin-top:1em;
		}
	}
	.News-card--preview{
		display:block;
		img{
			width:100%;
		}
	}
}