.App-header--nav---wrp{
	display:flex;
}

.App-header--nav{
	display:flex;
	flex-direction:column;
	transform-origin: 0 100%;
    transition: transform .3s;
    transform: scaleY(0);
	position: fixed;
	overflow:auto;
    top: 60px;
    padding-bottom:60px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 90;
    background:$white;
    &.active{
    	transform: scaleY(1);
    	@media #{$larg} {
    	  transform: none;
    	}
    }


	@media #{$larg} {
		display:block;
		position:static;
		overflow:visible;
		width:auto;
		height:auto;
		z-index: auto;
		margin:auto;
		padding:0;
		background:none;
		transform: none;
	}
}

.App-header--ticket{
	background: linear-gradient($black, $dark-blue);
	padding:1.5em;
	color:$white;

	.App-header--ticket---wrp{
		display:flex;
		justify-content:space-between;
		margin-top:1em;
	}

	.booknow{
		margin:auto 0;
	}

	.Event-card--place-and-date{
		border:none;
		padding:0;

		.Event-card-date{
			h6::before{
				content: url(/storage/Gfx/Menu/calendarW.svg);
			}
		}
		.Event-card-place{
			h6::before{
				content: url(/storage/Gfx/Menu/pinW.svg);
			}
		}
	}

	@media #{$larg} {
		display:none;
	}
}

.App-header--mobileApp{
	border-top:2px solid $grey4;
	padding: 1.5em 4.5em;
	margin-top:auto;
	h5{
		text-transform:uppercase;
		position:relative;
		&:before{
			content:url("/storage/Gfx/Menu/mobileApp.svg");
			position: absolute;
    		left: -50px;
    		top: -10px;
		}
	}
	@media #{$larg} {
		display:none;
	}
}

.App-header--ul{
	display:flex;
	justify-content:space-between;
	flex-direction:column;
	@media #{$larg} {
		flex-direction:row;
	}

	> .App-header--li > p{
		text-transform:uppercase;
		cursor:pointer;
		* {text-transform:none;}
	}
} 

.App-header--li{
	font-weight:bold;
	padding:1em 1.5em;
	position:relative;
	cursor:pointer;
	&:after{
		position:absolute;
		top:15px;
		right:20px;
		transition: transform .3s;
	}

	&.active{
		&:after{
		  transform: rotate(180deg);
		  transition: transform .3s;
		}
		.App-header-dropdownBox--outer{
			max-height:none;
		}
	}

	&.news{
		&:after{
			content:url("/storage/Gfx/Menu/arrow-purple.svg");
		}
		&:hover{ 
			> p{
				color:$purple;
			}
		}
		.App-header--subli a:hover {
			color:$purple;
		}
		.all a{
			color:$purple;
			&:after{
				content:url("/storage/Gfx/Global/seeAll-purple.svg")
			}
		}
	}
	&.talks{
		&:after{
			content:url("/storage/Gfx/Menu/arrow-red.svg");
		}
		&:hover > p{
			color:$red;
		}
		.App-header--subli a:hover {
			color:$red;
		}
		.all a{
			color:$red;
			&:after{
				content:url("/storage/Gfx/Global/seeAll-red.svg")
			}
		}
	}
	&.events{
		&:after{
			content:url("/storage/Gfx/Menu/arrow-blue.svg");
		}
		&:hover > p{
			color:$light-blue;
		}
		.App-header--subli a:hover {
			color:$light-blue;
		}
		.all a{
			color:$light-blue;
			&:after{
				content:url("/storage/Gfx/Global/seeAll-lightblue.svg")
			}
		}
	}
	&.startup{
		&:after{
			content:url("/storage/Gfx/Menu/arrow-orange.svg");
		}
		&:hover > p{
			color:$orange;
		}
		.App-header--subli a:hover {
			color:$orange;
		}
		.Startup-card--category{
			color:$orange;
		}
		.all a{
			margin-top:1em;
			color:$orange;
			&:after{
				content:url("/storage/Gfx/Global/seeAll-orange.svg")
			}
		}
		.App-header--submenu.col3 .App-header--submenu---wrp{
			flex-basis:100%;
			&.competitions{
				margin-top:1em;
				.App-header--subli{
					flex-basis:48%;
				}
			}
		}
	}
	&.about{
		&:after{
			content:url("/storage/Gfx/Menu/arrow-teal.svg");
		}
		&:hover > p{
			color:$event-teal;
		}
		.App-header--subli {
			.News-card:hover{
				h5{
					color:$event-teal;
				}
			}
			a:hover {
				color:$event-teal;
			}
		}
		.News-card--author-category{
			color:$event-teal;
		}
		.all a{
			color:$event-teal;
			&:after{
				content:url("/storage/Gfx/Global/seeAll-lightblue.svg")
			}
		}
	}

	@media #{$larg} {
		padding:0 0.75em;
		position: static;
		&:hover{
			> p{
				border-bottom:2px solid inherit;
			}
			.App-header-dropdownBox--outer{
				max-height:600px;
				z-index:100;
			}
		}

		&.news{
			&:hover > p{
				border-bottom:2px solid $purple;
			}
		}
		&.talks{
			&:hover > p{
				border-bottom:2px solid $red;
			}
		}
		&.events{
			&:hover > p{
				border-bottom:2px solid $light-blue;
			}
		}
		&.startup{
			&:hover > p{
				border-bottom:2px solid $orange;
			}
		}
		&.about{
			&:hover > p{
				border-bottom:2px solid $event-teal;
			}
		}


		&:after{
			display:none;
		}
	}
	@media #{$extra-larg} {
		padding:0 1.5em;
	}
}

.App-header-dropdownBox--outer{
    max-height: 0;  
    overflow: hidden;
    
    @media #{$larg} {
    	position: absolute;
    	left: 0;
    	width: 100%;
    	box-shadow:0px 8px 8px rgba(17, 12, 17, 0.2);
    }

}

.App-header-dropdownBox--inner{
	margin-top: .5em;
    //transition: all 1s;
    @media #{$larg} {
    	margin-top: 1.2em;
    	padding:3em 0;
    	background: linear-gradient(180deg, $grey9 0%, $white 100%);
    }

    .App-header--subtitle h3{
    	display: inline-block;
    	background: $white;
    	padding-right: 1em;
    	text-transform:uppercase;
    	@media #{$larg} {
    		background: $grey9;
    	}
    }

    .Layout-width{
    	width:100%;
    	@media #{$larg} {
    		width:90%;
    	}
    }
}

.App-header--sub{
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	@media #{$larg} {
    	flex-direction:row;
    }
	&.col3{
		flex-wrap:wrap;
	}
	.Event {
		flex-basis:32%;
		margin:1em 0;
		@media #{$larg} {
    		margin:0;
    	}
		&.london .Event-card--name{background:$green};
		&.america .Event-card--name{background:$red};
		&.amsterdam .Event-card--name{background:$light-blue}
	}
	.all{
		a{
			font-weight:bold;
			&::after{
				font-size:20px;
				margin-left:.5em;
				transition: all .3s;
			}
			&:hover{
				&::after{
					margin-left:.75em;
					transition: all .3s;
				}
			}
		}
	}
	p{
		font-weight:normal;
	}
}

.App-header--submenu,.App-header--highlight{
	flex-basis:47%;
}

.App-header--highlight{
	display:none;
	@media #{$larg} {
    	display:block;
    }
}

.App-header--submenu.col1{
	flex-basis:100%;
	.App-header--submenu---wrp{
		flex-basis:100%;
		&.competitions{
			flex-basis:32%;
			margin-top:1em;
			@media #{$larg} {
    			margin-top:2em;
    		}
			.App-header--subli{
				flex-basis:32%;
			}
		}
		.App-header--subtitle{
			display:block;
			background:none;
			margin-top:1em;
			@media #{$larg} {
    			margin-top:0;
    		}
		}
		.App-header--subli{
			flex-basis:100%;
		}
	}
	.all{
		margin-top:1em;
	}
}

.App-header--submenu.col3{
	display:flex;
	flex-direction:column;
	flex-wrap:wrap;
	justify-content:space-between;
	@media #{$larg} {
    	flex-direction:row;
    }
	.App-header--submenu---wrp{
		flex-basis:47%;
	}
	.App-header--subli{
		flex-basis:100%;
	}

}

.App-header--subul{
	display: flex;
	flex-direction:column;
    flex-wrap: wrap;
    justify-content:space-between;
    @media #{$larg} {
    	flex-direction:row;
    }
}

.App-header--subli{
	margin:.75em 0;
	flex-basis:48%;
	font-weight:normal;
	text-transform:none;
}

.App-header--subtitle{
	display:none;
	background:repeating-linear-gradient(-45deg,$grey4,$grey4 3px,transparent 3px,transparent 6px);
	margin-bottom: .75em;
	@media #{$larg} {
		display:block;
	}
}

.App-header--social{
	flex-basis:100%;
}



.hamburger {
  @media #{$larg} {
  	display:none;
  }
  position:absolute;
  right:0;
  top:10px;
  padding: 10px 0;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 0.7; }

.hamburger-box {
  width: 25px;
  height: 20px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 25px;
    height: 3px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -7px; }
  .hamburger-inner::after {
    bottom: -10px; }

    .hamburger--emphatic {
  overflow: hidden; }
  .hamburger--emphatic .hamburger-inner {
    transition: background-color 0.125s 0.175s ease-in; }
    .hamburger--emphatic .hamburger-inner::before {
      left: 0;
      transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in; }
    .hamburger--emphatic .hamburger-inner::after {
      top: 7px;
      right: 0;
      transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in; }
  .hamburger--emphatic.is-active .hamburger-inner {
    transition-delay: 0s;
    transition-timing-function: ease-out;
    background-color: transparent; }
    .hamburger--emphatic.is-active .hamburger-inner::before {
      left: -80px;
      top: -80px;
      transform: translate3d(80px, 80px, 0) rotate(45deg);
      transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1); }
    .hamburger--emphatic.is-active .hamburger-inner::after {
      right: -80px;
      top: -80px;
      transform: translate3d(-80px, 80px, 0) rotate(-45deg);
      transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1); }