.App-header--nav{
	margin:auto;
}

.App-header--ul{
	display:flex;
	justify-content:space-between;

	> .App-header--li > a{
		text-transform:uppercase;
		* {text-transform:none;}
	}
} 

.App-header--li{
	font-weight:bold;
	padding:0 1.5em;
	&:hover{
		> a{
			color:$purple;
			border-bottom:2px solid $purple;
		}
		.App-header-dropdownBox--outer{
			max-height:600px;
		}
	}
}

.App-header-dropdownBox--outer{
	position: absolute;
    left: 0;
    width: 100%;
    max-height: 0;  
    overflow: hidden;
    box-shadow:0px 8px 8px rgba(17, 12, 17, 0.2);

}

.App-header-dropdownBox--inner{
	background: linear-gradient(180deg, $grey9 0%, $white 100%);
    margin-top: 1.3em;
    padding:3em 0;
    //transition: all 1s;

    .App-header--subtitle h2{
    	display: inline-block;
    	background: $grey9;
    	padding-right: 1em;
    	text-transform:uppercase;
    }
}

.App-header--sub{
	display:flex;
	justify-content:space-between;
	&.about{
		flex-wrap:wrap;
	}
	.Event {
		flex-basis:31%;
		&.london .Event-card--name{background:$green};
		&.america .Event-card--name{background:$red};
		&.amsterdam .Event-card--name{background:$light-blue}
	}
}

.App-header--submenu,.App-header--highlight{
	flex-basis:47%;
}

.App-header--submenu.about{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	.App-header--submenu---wrp{
		flex-basis:47%;
	}
	.App-header--subli{
		flex-basis:100%;
	}
}

.App-header--subul{
	display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}

.App-header--subli{
	margin:.75em 0;
	flex-basis:48%;
	text-transform:none;
	&.all{
		a{
			color:$purple;
			&::after{
				content: " ->";
				font-size:20px;
			}
		}
	}
}

.App-header--subtitle{
	background:repeating-linear-gradient(-45deg,$grey4,$grey4 3px,transparent 3px,transparent 6px);
	margin-bottom: .75em;
}

.App-header--social{
	flex-basis:100%;
}